{% extends 'home/base.html' %}
{% load static %}

<!-- Block title -->
{% block title %}
<title>Contactati-ma</title>
{% endblock %}

<!-- Block content -->
{% block content %}
			
<div class="inner_body bg_gray">
	<!-- Page Header -->
	<div class="page-header type2">
		<div class="page-header-content text-center">
			<div class="container">
				<h1 class="heading">
					Contactati-ma
					<span class="icon"><i class="fa fa-camera"></i></span>
				</h1>
				<p>Toate clipurile din portofoliu.</p>
				<div class="sign"><img src="{% static 'home/images/sign.png' %}" alt=""></div>
			</div>
		</div>
	</div>


		<div class="contact_body">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="contact_info">
							<h3 class="title">Contact Info</h3>
							<p class="short_desc">Praesent commodo quam non lacus interdum semper et ut enim. Donec vel suscipit nulla. Nullam imperdiet nisl in lectus porta sodales. nteger mattis finibus nisl. </p>

							<h4>Address:</h4>
							<p>25, Lomonosova St. Moscow, Russia, 665087</p>
							<h4>Phone:</h4>
							<p>+7 234 949-58-83,  +7 239 585-58-61</p>
							<h4>Email:</h4>
							<p>support@oculusgallerycom</p>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="contact_form">
							<h3 class="title">send us an email</h3>
							<!-- Form -->
							<form action="contact.php" method="POST">
								<div class="row">
									<div class="col-lg-6">
										<div class="input_field">
											<input type="text" name="name" id="name" class="form-control" placeholder="Name">
											<label for="Name">Name</label>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="input_field">
											<input type="text" name="subject" id="subject" class="form-control" placeholder="Subject">
											<label for="Subject">Subject</label>
										</div>
									</div>

									<div class="col-lg-6">
										<div class="input_field">
											<input type="email" name="email" id="email" class="form-control" placeholder="Email">
											<label for="Email">Email</label>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="input_field">
											<input type="text" name="phone" id="phone" class="form-control" placeholder="Phone">
											<label for="Phone">Phone</label>
										</div>
									</div>
									<div class="col-lg-12">
										<div class="input_field">
											<textarea type="text" name="message" id="message" class="form-control md-textarea" rows="3" placeholder="Message"></textarea>
											<label for="Message">Message</label>
										</div>

										<div class="button_group">
											<input type="submit" class="button black_button" value="Send Message">
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="page_title"><span>Contactati-ma</span></div>

{% endblock %}