<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <meta name="description" content="Portfolio HTML5 Template">
        <meta name="author" content="">

        <!-- Page Title -->
        <title>Portfolio HTML5 Template</title>

        <!-- Favicon and touch Icons -->
        <link href="images/favicon.png" rel="shortcut icon" type="image/png">
        <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
        <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
        <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
        <link href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

        <!-- Lead Style -->
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>

	<!-- Preloader -->
	<div class="oculoader">
		<div class="loader"></div>
		<div class="top-side"></div>
		<div class="bottom-side"></div>
	</div>
	<!--PreLoader End-->

    <body class="body_box">
		
		<div class="wrapper">
			<!-- Start Header -->
	        <header id="header" class="header_one">
	            <div class="nav-bar">
					<div class="navigation">
						<div class="logo">
							<a href="index.html"><img src="images/logo.png" alt="logo"></a>
						</div>
						<nav id="flexmenu">
							<div class="nav-inner">
								<ul class="main-menu">
									<li class="menu-item"><a href="index.html">Home</a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="index-2.html">Home 2</a></li>
											<li class="menu-item"><a href="index-3.html">Home 3</a></li>
											<li class="menu-item"><a href="index-4.html">Home 4</a></li>
											<li class="menu-item"><a href="index-5.html">Home 5</a></li>
										</ul>
									</li>
									<li class="menu-item"><a href="#">Gallery</a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="portfolio-1.html">Portfolio 1</a></li>
											<li class="menu-item"><a href="portfolio-2.html">Portfolio 2</a></li>
											<li class="menu-item"><a href="portfolio-3.html">Portfolio 3</a></li>
											<li class="menu-item"><a href="portfolio-4.html">Portfolio 4</a></li>
											<li class="menu-item"><a href="masonry.html">Portfolio Masonry</a></li>
											<li class="menu-item"><a href="portfolio-single-1.html">Portfolio Single 1</a></li>
											<li class="menu-item"><a href="portfolio-single-2.html">Portfolio Single 2</a></li>
										</ul>
									</li>
									<li class="menu-item"><a href="#">About</a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="aboutus-1.html">About Us 1</a></li>
											<li class="menu-item"><a href="aboutus-2.html">About Us 2</a></li>
											<li class="menu-item"><a href="aboutus-3.html">About Us 3</a></li>
											<li class="menu-item"><a href="aboutme.html">About Me</a></li>
										</ul>
									</li>
									<li class="menu-item"><a href="#">Contacts</a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="contact-1.html">Contact 1</a></li>
											<li class="menu-item"><a href="contact-2.html">Contact 2</a></li>
										</ul>
									</li>
									<li class="menu-item"><a href="#">Blog</a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="blog-1.html">Blog 1</a></li>
											<li class="menu-item"><a href="blog-2.html">Blog 2</a></li>
											<li class="menu-item"><a href="blog-3.html">Blog 3</a></li>
											<li class="menu-item"><a href="blog-single-1.html">Blog Single 1</a></li>
											<li class="menu-item"><a href="blog-single-2.html">Blog Single 2</a></li>
										</ul>
									</li>
									<li class="menu-item active"><a href="#">Pages</a>
										<ul class="sub-menu">
											<li class="menu-item active"><a href="elements.html">Elements</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</nav>
						<div class="nav-more-info">
							<div class="element">
								<div id="mobile-toggle" class="mobile-btn">
									<span class="toggle_line"></span>
									<span class="toggle_line"></span>
									<span class="toggle_line"></span>
								</div>
								<a href="#" class="search_icon"><i class="fa fa-search"></i></a>
								<div class="search_overlay">
									<span class="closebtn">&times;</span>
									<form class="search-form" action="search.php">
										<input type="text" name="search" class="keyword form-control" placeholder="Search">
										<button type="submit" class="form-control form-control-submit"><i class="fa fa-search"></i></button>
									</form>
								</div>
							</div>
						</div>
					</div>
	            </div>

	            <div class="overlaynav">
	                <a href="#" class="overlaynavclose">&times;</a>
	                <nav id="overlaymenu">
	                	<ul class="main-menu">
	                		<li class="menu-item"><a href="index.html">Home</a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="index-2.html">Home 2</a></li>
									<li class="menu-item"><a href="index-3.html">Home 3</a></li>
									<li class="menu-item"><a href="index-4.html">Home 4</a></li>
									<li class="menu-item"><a href="index-5.html">Home 5</a></li>
								</ul>
							</li>
							<li class="menu-item"><a href="#">Gallery</a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="portfolio-1.html">Portfolio 1</a></li>
									<li class="menu-item"><a href="portfolio-2.html">Portfolio 2</a></li>
									<li class="menu-item"><a href="portfolio-3.html">Portfolio 3</a></li>
									<li class="menu-item"><a href="portfolio-4.html">Portfolio 4</a></li>
									<li class="menu-item"><a href="masonry.html">Portfolio Masonry</a></li>
									<li class="menu-item"><a href="portfolio-single-1.html">Portfolio Single 1</a></li>
									<li class="menu-item"><a href="portfolio-single-2.html">Portfolio Single 2</a></li>
								</ul>
							</li>
							<li class="menu-item"><a href="#">About</a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="aboutus-1.html">About Us 1</a></li>
									<li class="menu-item"><a href="aboutus-2.html">About Us 2</a></li>
									<li class="menu-item"><a href="aboutus-3.html">About Us 3</a></li>
									<li class="menu-item"><a href="aboutme.html">About Me</a></li>
								</ul>
							</li>
							<li class="menu-item"><a href="#">Contacts</a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="contact-1.html">Contact 1</a></li>
									<li class="menu-item"><a href="contact-2.html">Contact 2</a></li>
								</ul>
							</li>
							<li class="menu-item"><a href="#">Blog</a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="blog-1.html">Blog 1</a></li>
									<li class="menu-item"><a href="blog-2.html">Blog 2</a></li>
									<li class="menu-item"><a href="blog-3.html">Blog 3</a></li>
									<li class="menu-item"><a href="blog-single-1.html">Blog Single 1</a></li>
									<li class="menu-item"><a href="blog-single-2.html">Blog Single 2</a></li>
								</ul>
							</li>
							<li class="menu-item active"><a href="#">Pages</a>
								<ul class="sub-menu">
									<li class="menu-item active"><a href="elements.html">Elements</a></li>
								</ul>
							</li>
						</ul>
	                </nav>
	            </div>
	        </header>
			
			<div class="inner_body">
				<!-- Page Header -->
		        <div class="page-header type1">
		            <div class="page-header-content text-center">
		                <div class="container">
		                    <h1 class="heading">
		                    	Elements
		                    	<span class="icon"><i class="fa fa-camera"></i></span>
		                    </h1>
							<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed bibendum leo. Mauris <br> massa eleifend et purus vel feugiat rutrum nulla cras vitae est.</p>
		                </div>
		            </div>
		        </div>
			
				<section class="typography">
					<div class="container">
						<div class="row">
							<div class="col-md-5">
								<div class="content_title">Headings</div>
								<div class="htag_content">
									<h1>H1. Heading <span>48px</span></h1>
									<h2>H2. Heading <span>38px</span></h2>
									<h3>H3. Heading <span>30px</span></h3>
									<h4>H4. Heading <span>24px</span></h4>
									<h5>H5. Heading <span>18px</span></h5>
									<h6>H6. Heading <span>16px</span></h6>
								</div>
							</div>
							<div class="col-md-6 offset-md-1">
								<div class="content_title">Hightlights</div>
								<div class="highlights_content">
									<p>Lorem ipsum dolor sit amet <span class="bg_light_gray text-black">feugiat delicata liberavisse id cum</span> eusimod dui tempor </p>
									<p>Lorem ipsum dolor sit amet <span class="bg_black text-white">feugiat delicata liberavisse id cum</span> eusimod dui tempor </p>
									<p>Lorem ipsum dolor sit amet <span class="bg_white text-black border-dot">feugiat delicata liberavisse id cum</span> eusimod dui tempor </p>
									<p>Lorem ipsum dolor sit amet <span class="bg_white text-gray">feugiat delicata liberavisse id cum</span> eusimod dui tempor </p>
									<p>Lorem ipsum dolor sit amet <span class="bg_transparent text-black">feugiat delicata liberavisse id cum</span> eusimod dui tempor </p>
								</div>
								<div class="content_title">Text Tooltips</div>
								<div class="tooltips_content">
									<p>Corem ipsum dolor amet 
										<a href="#" class="black-tooltip left-tooltip" data-placement="left" data-tooltip="Left Tooltip">consectetur dipisicing </a> sed elit do eius tempor 
										<a href="#" class="light-tooltip top-tooltip" data-placement="top" data-tooltip="Top Tooltip">incididunt labore </a>  et dolore magna aliqua enimad 
										<a href="#" class="black-tooltip right-tooltip" data-placement="right" data-tooltip="Right Tooltip">minim incididunt </a> magna aliqua. Ut 
										<a href="#" class="light-tooltip bottom-tooltip" data-placement="bottom" data-tooltip="Bottom Tooltip">enim minim </a>consectetur adipiscing elit.</p>
								</div>
							</div>
						</div>
					</div>
				</section>
				
				<hr>

				<section class="dropcaps_list_style bg_white">
					<div class="container">
						<div class="list_style">
							<div class="content_title">List Styles</div>
							<div class="row">
								<div class="col-md-4">
									<ul class="circle">
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
									</ul>
								</div>
								<div class="col-md-4">
									<ul class="share">
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
									</ul>
								</div>
								<div class="col-md-4">
									<ul class="checkmark">
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
									</ul>
								</div>
								<div class="col-md-4">
									<ul class="decimal">
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
									</ul>
								</div>
								<div class="col-md-4">
									<ul class="arrow">
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
									</ul>
								</div>
								<div class="col-md-4">
									<ul class="angle">
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
										<li>Phasellus sit amet velit auctor turpis rhoncus</li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="dropcaps_style">
							<div class="row">
								<div class="col-md-6">
									<div class="content_title">Round Dropcaps</div>
									<div class="dropcap round">
										<p><span class="firstcharacter bg_light text-dark">D</span>olor sit amet, consectetur adipiscing elit. Ut sed bibendum leo maur 
										massa eleifend et purus vel feugiat rutrum nulla. Cras vitae est velps
										bus fermentum a ultricies urna cum sociis. Lorem ipsum dolor sit amet consectetur adipiscing elit sed bibendum leo. Mauris massa eleifend et purus vel feugiat rutrum nulla cras vitae</p>
									</div>
									<div class="dropcap round">
										<p><span class="firstcharacter bg_white text-dark">D</span>olor sit amet, consectetur adipiscing elit. Ut sed bibendum leo maur 
										massa eleifend et purus vel feugiat rutrum nulla. Cras vitae est velps
										bus fermentum a ultricies urna cum sociis. Lorem ipsum dolor sit amet consectetur adipiscing elit sed bibendum leo. Mauris massa eleifend et purus vel feugiat rutrum nulla cras vitae</p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="content_title">Square Dropcaps</div>
									<div class="dropcap square">
										<p><span class="firstcharacter bg_black text-white">D</span>olor sit amet, consectetur adipiscing elit. Ut sed bibendum leo maur 
										massa eleifend et purus vel feugiat rutrum nulla. Cras vitae est velps
										bus fermentum a ultricies urna cum sociis. Lorem ipsum dolor sit amet consectetur adipiscing elit sed bibendum leo. Mauris massa eleifend et purus vel feugiat rutrum nulla cras vitae</p>
									</div>
									<div class="dropcap square">
										<p><span class="firstcharacter bg_white text-dark">D</span>olor sit amet, consectetur adipiscing elit. Ut sed bibendum leo maur 
										massa eleifend et purus vel feugiat rutrum nulla. Cras vitae est velps
										bus fermentum a ultricies urna cum sociis. Lorem ipsum dolor sit amet consectetur adipiscing elit sed bibendum leo. Mauris massa eleifend et purus vel feugiat rutrum nulla cras vitae</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				
				<hr>

				<section class="blockquote_sec">
					<div class="container">
						<div class="content_title">Blockquote Styles</div>
						<div class="row">
							<div class="col-md-8">
								<div class="blockquote_content">
									<blockquote class="blockquote type1">
									  	<p>"Lorem ipsum dolor sit amet consectetu adipisicing elit sed do loa eiusmod tempor incididunt ut labore et sed dui exea dolore."</p>
									  	<div class="title">Anders Angstrom</div>
									  	<div class="designation">Art director</div>
									</blockquote>
								</div>
							</div>
						</div>
						<div class="divider"></div>
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<div class="blockquote_content">
									<blockquote class="blockquote type2">
									  	<p>"Lorem ipsum dolor sit amet consectetu adipisicing elit sed do loa eiusmod tempor incididunt ut labore et sed dui exea dolore."</p>
									  	<div class="title">Anders Angstrom</div>
									  	<div class="designation">Art director</div>
									</blockquote>
								</div>
							</div>
						</div>
					</div>
				</section>
				
				
				<section class="testimonials bg_light">
					<div class="container">
						<div class="content_title">Testimonials</div>
						<div class="testimonial-carousel">
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="slider_item">
											<div class="testibox1">
												<div class="testi-img">
													<img src="images/commenter.png" alt="">
												</div>
												<div class="testi-content">
													<h4>Jeny Doe</h4>
													<h6>CEO, Advertising Corp</h6>
													<p>Lorem ipsum dolor sit amet consecteur adipiscing elit sed eiusmod tempor ncididue labor doloremagna aliqua. Ut eniexercitat ullamco laborisnisi ut aliquip commodo consequatduis autes adm irure. Labor doloremagna aliqua. Ut enim nim veniam qu nostrud</p>
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="slider_item">
											<div class="testibox1">
												<div class="testi-img">
													<img src="images/commenter2.png" alt="">
												</div>
												<div class="testi-content">
													<h4>Lily Deny</h4>
													<h6>CEO, Advertising Corp</h6>
													<p>Lorem ipsum dolor sit amet consecteur adipiscing elit sed eiusmod tempor ncididue labor doloremagna aliqua. Ut eniexercitat ullamco laborisnisi ut aliquip commodo consequatduis autes adm irure. Labor doloremagna aliqua. Ut enim nim veniam qu nostrud</p>
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="slider_item">
											<div class="testibox1">
												<div class="testi-img">
													<img src="images/commenter3.png" alt="">
												</div>
												<div class="testi-content">
													<h4>Rogers Croe</h4>
													<h6>CEO, Advertising Corp</h6>
													<p>Lorem ipsum dolor sit amet consecteur adipiscing elit sed eiusmod tempor ncididue labor doloremagna aliqua. Ut eniexercitat ullamco laborisnisi ut aliquip commodo consequatduis autes adm irure. Labor doloremagna aliqua. Ut enim nim veniam qu nostrud</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
								
							<div class="swiper-controller">
								<!-- If we need navigation buttons -->
								<div class="swiper-navigation">
									<div class="swiper-button-prev"></div>
									<div class="swiper-button-next"></div>
								</div>
							</div>
						</div>
					</div>
				</section>
				
				<hr>

				<section class="testimonials type2 bg_dark">
					<div class="container">
						<div class="content_title">Testimonials</div>
						<div class="testimonial-carousel">
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="slider_item">
											<div class="testibox1">
												<div class="testi-img">
													<img src="images/commenter.png" alt="">
												</div>
												<div class="testi-content">
													<h4>Jeny Doe</h4>
													<h6>CEO, Advertising Corp</h6>
													<p>Lorem ipsum dolor sit amet consecteur adipiscing elit sed eiusmod tempor ncididue labor doloremagna aliqua. Ut eniexercitat ullamco laborisnisi ut aliquip commodo consequatduis autes adm irure. Labor doloremagna aliqua. Ut enim nim veniam qu nostrud</p>
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="slider_item">
											<div class="testibox1">
												<div class="testi-img">
													<img src="images/commenter2.png" alt="">
												</div>
												<div class="testi-content">
													<h4>Lily Deny</h4>
													<h6>CEO, Advertising Corp</h6>
													<p>Lorem ipsum dolor sit amet consecteur adipiscing elit sed eiusmod tempor ncididue labor doloremagna aliqua. Ut eniexercitat ullamco laborisnisi ut aliquip commodo consequatduis autes adm irure. Labor doloremagna aliqua. Ut enim nim veniam qu nostrud</p>
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="slider_item">
											<div class="testibox1">
												<div class="testi-img">
													<img src="images/commenter3.png" alt="">
												</div>
												<div class="testi-content">
													<h4>ogers Croe</h4>
													<h6>CEO, Advertising Corp</h6>
													<p>Lorem ipsum dolor sit amet consecteur adipiscing elit sed eiusmod tempor ncididue labor doloremagna aliqua. Ut eniexercitat ullamco laborisnisi ut aliquip commodo consequatduis autes adm irure. Labor doloremagna aliqua. Ut enim nim veniam qu nostrud</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
								
							<div class="swiper-controller">
								<!-- If we need navigation buttons -->
								<div class="swiper-navigation">
									<div class="swiper-button-prev"></div>
									<div class="swiper-button-next"></div>
								</div>
							</div>
						</div>
					</div>
				</section>
				
				<hr>

				<section class="button_sec bg_gray">
					<div class="container">
						<div class="button_styles">
							<div class="content_title">Buttons</div>
							<div class="row">
								<div class="col-lg-6">
									<!-- Button Start -->
									<div class="button_group">
		                            	<a href="#" class="button effect_1 fade_white_button" data-text="Read More"><span>See Details</span></a>
		                        	</div>
		                        	<!-- Button End-->
		                        	<!-- Button Start -->
									<div class="button_group">
		                            	<a href="#" class="button effect_2 fade_white_button" data-text="Read More"><span>See Details</span></a>
		                        	</div>
		                        	<!-- Button End-->
		                        	<!-- Button Start -->
									<div class="button_group">
		                            	<a href="#" class="button effect_3 fade_white_button" data-text="Read More"><span>See Details</span></a>
		                        	</div>
		                        	<!-- Button End-->
								</div>

								<div class="col-lg-6">
		                        	<!-- Button Start -->
									<div class="button_group">
		                            	<a href="#" class="button effect_4 fade_white_button" data-text="Read More"><span>See Details</span></a>
		                        	</div>
		                        	<!-- Button End-->
									
		                        	<!-- Button Start -->
									<div class="button_group">
		                            	<a href="#" class="button effect_5 black_button" data-text="Read More"><span>See Details</span></a>
		                        	</div>
		                        	<!-- Button End-->
		                        	<!-- Button Start -->
									<div class="button_group">
		                            	<a href="#" class="button effect_6 black_button" data-text="Read More"><span>See Details</span></a>
		                        	</div>
		                        	<!-- Button End-->
								</div>

								<div class="col-lg-6">
									<!-- Button Start -->
									<div class="button_group">
		                            	<a href="#" class="button effect_7 fade_white_button" data-text="Read More"><span>See Details</span></a>
		                        	</div>
		                        	<!-- Button End-->
		                        	<!-- Button Start -->
									<div class="button_group">
		                            	<a href="#" class="button effect_8 fade_white_button" data-text="Read More"><span>See Details</span></a>
		                        	</div>
		                        	<!-- Button End-->
		                        	<!-- Button Start -->
									<div class="button_group">
		                            	<a href="#" class="button effect_9 fade_white_button" data-text="Read More"><span>See Details</span></a>
		                        	</div>
		                        	<!-- Button End-->
								</div>
								
								<div class="col-lg-6">
		                        	<!-- Button Start -->
									<div class="button_group">
		                            	<a href="#" class="button effect_10 black_button" data-text="Read More"><span>See Details</span></a>
		                        	</div>
		                        	<!-- Button End-->
									
		                        	<!-- Button Start -->
									<div class="button_group">
		                            	<a href="#" class="button effect_11 black_button" data-text="Read More"><span>See Details</span></a>
		                        	</div>
		                        	<!-- Button End-->
		                        	<!-- Button Start -->
									<div class="button_group">
		                            	<a href="#" class="button effect_12 black_button" data-text="Read More"><span>See Details</span></a>
		                        	</div>
		                        	<!-- Button End-->
								</div>

								<div class="col-lg-6">
		                        	<!-- Button Start -->
									<div class="button_group">
		                            	<a href="#" class="button effect_13 gold_button" data-text="Read More"><span>See Details</span></a>
		                        	</div>
		                        	<!-- Button End-->
									
		                        	<!-- Button Start -->
									<div class="button_group">
		                            	<a href="#" class="button effect_14 gold_button" data-text="Read More"><span>See Details</span></a>
		                        	</div>
		                        	<!-- Button End-->
		                        	<!-- Button Start -->
									<div class="button_group">
		                            	<a href="#" class="button effect_15 gold_button" data-text="Read More"><span>See Details</span></a>
		                        	</div>
		                        	<!-- Button End-->
								</div>
							</div>
						</div>
					</div>
				</section>
				
				<hr>
				
				<section class="bg_light">
					<div class="container">
						<div class="content_title">Form Elements</div>
						<div class="row">
							<div class="col-md-8">
								<form action="contact.php">
									<div class="row">
										<div class="col-lg-6">
											<div class="input_field">
												<input type="text" id="name" class="form-control" placeholder="Name">
												<label for="Name">Name</label>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="input_field">
												<input type="email" id="subject" class="form-control" placeholder="Subject">
												<label for="Subject">Subject</label>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="input_field">
												<input type="email" id="email" class="form-control" placeholder="Email">
												<label for="Email">Email</label>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="input_field">
												<input type="text" id="phone" class="form-control" placeholder="Phone">
												<label for="Phone">Phone</label>
											</div>
										</div>
										<div class="col-lg-12">
											<div class="input_field">
												<textarea type="text" id="message" class="form-control md-textarea" rows="3" placeholder="Message"></textarea>
												<label for="Message">Message</label>
											</div>

											<div class="button_group">
												<input type="submit" class="button black_button" value="Send Message">
					                        </div>
										</div>
									</div>
								</form>

							</div>
							<div class="col-md-4">
								<div class="radio_check">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label text-black mb-2" for="customCheck1">Check box (checked)</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck2" disabled>
										<label class="custom-control-label mb-2" for="customCheck2" disabled>Check box (Unchecked)</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck3" disabled>
										<label class="custom-control-label mb-2" for="customCheck3">Check box (Unchecked)</label>
									</div>
									<div class="row mt-3">
										<!-- Group of default radios - option 1 -->
										<div class="col-md-1">
											<div class="custom-control custom-radio">
											  <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios" checked>
											  <label class="custom-control-label" for="defaultGroupExample2"></label>
											</div>
										</div>
										<!-- Group of default radios - option 2 -->
										<div class="col-md-1">
											<div class="custom-control custom-radio">
											  <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios">
											  <label class="custom-control-label" for="defaultGroupExample1"></label>
											</div>
										</div>
									</div>
									<div class="row">
										<!-- Group of default radios - option 1 -->
										<div class="col-md-1"><!-- Default inline 1-->
											<div class="custom-control custom-radio custom-control-inline">
											  <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample" checked>
											  <label class="custom-control-label" for="defaultInline1"></label>
											</div>
										</div>
										<!-- Group of default radios - option 2 -->
										<div class="col-md-1"><!-- Default inline 2-->
											<div class="custom-control custom-radio custom-control-inline">
											  <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample">
											  <label class="custom-control-label" for="defaultInline2"></label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Material form register -->
				</section>
				
				<hr>

				<section class="table_sec">
					<div class="container">
						<div class="content_title">Table</div>
						<div class="table-responsive text-nowrap">
							<table class="table">
								<thead>
									<tr>
									  	<th scope="col">#</th>
									  	<th scope="col">First name</th>
									  	<th scope="col">Last name</th>
									  	<th scope="col">userman</th>
									  	<th scope="col">Emailaddress</th>
									</tr>
								</thead>
								<tbody>
									<tr>
									  	<th scope="row">1</th>
									  	<td>Mark</td>
									  	<td>Otto</td>
									  	<td>@mdo</td>
									  	<td>mark.otto@mdo.net</td>
									</tr>
									<tr>
									  	<th scope="row">2</th>
									  	<td>Jacob</td>
									  	<td>Thornton</td>
									  	<td>@fat</td>
									  	<td>jacob.thrnton321@fatbeer.org</td>
									</tr>
									<tr>
									  	<th scope="row">3</th>
									  	<td>Larry</td>
									  	<td>the Bird</td>
									  	<td>@twitter</td>
									  	<td>larry.king.live@</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</section>
				
				<hr>
			
				<section class="accor_tab bg_light">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="content_title">Accordion</div>
								<div class="power-accordion" id="accordion">
									<div class="power-card">
										<div class="power-card-header" id="headingOne">
											<a href="collapseOne" class="power-btn-link right_icon collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
												<span class="power-accordion-title">Is account registration required?</span>
												<div class="power_accordion_icon_group">
													<i aria-hidden="true" class="icon-open icon-right fa fa-angle-right"></i>
													<i aria-hidden="true" class="icon-closed icon-right fa fa-angle-down"></i>										
												</div>
											</a>
										</div>
									
										<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion" style="">
											<div class="power-card-body">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rhoncus nisi justo, sed congue erat condimentum eget.
											</div>
										</div>
									</div>
									<div class="power-card">
										<div class="power-card-header" id="headingTwo">
											<a href="collapseTwo" class="power-btn-link right_icon collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
												<span class="power-accordion-title">How I can registration?</span>
												<div class="power_accordion_icon_group">
													<i aria-hidden="true" class="icon-open icon-right fa fa-angle-right"></i>
													<i aria-hidden="true" class="icon-closed icon-right fa fa-angle-down"></i>										
												</div>
											</a>
										</div>
									
										<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion" style="">
											<div class="power-card-body">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rhoncus nisi justo, sed congue erat condimentum eget.
											</div>
										</div>
									</div>
									<div class="power-card">
										<div class="power-card-header" id="headingThree">
											<a href="collapseThree" class="power-btn-link right_icon" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
												<span class="power-accordion-title">Which documents need to register?</span>
												<div class="power_accordion_icon_group">
													<i aria-hidden="true" class="icon-open icon-right fa fa-angle-right"></i>
													<i aria-hidden="true" class="icon-closed icon-right fa fa-angle-down"></i>										
												</div>
											</a>
										</div>
									
										<div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion" style="">
											<div class="power-card-body">
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rhoncus nisi justo, sed congue erat condimentum eget.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="content_title">Tabs</div>
								<div class="nav-tab-right">
									<ul class="nav nav-tabs" id="myTab" role="tablist">
									  <li class="nav-item">
										<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">DESCRIPTION</a>
									  </li>
									  <li class="nav-item">
										<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">INFORMATION</a>
									  </li>
									  <li class="nav-item">
										<a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">REVIEWS</a>
									  </li>
									</ul>

									<div class="tab-content">
									  <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">Vivamus porta rutrum laoreet. Aliquam quis arcu laoreet, aliquet dui at, ornare leo. Etiam vestibulum dictum quam, sit amet malesuada nisi congue nec. Cras id volutpat odio. Nullam at leo ut mauris aliquet tempor in venenatis elit. Vivamus ut porta ex.</div>
									  <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">Aliquam quis arcu laoreet, aliquet dui at, ornare leo. Etiam vestibulum dictum quam, sit amet malesuada nisi congue nec. Cras id volutpat odio. Nullam at leo ut mauris aliquet tempor in venenatis elit. Vivamus ut porta ex.</div>
									  <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">.Corem ipsum dolor amet consectetur sed dipisicing elit do eius tempor incididunt labore et dolore magna aliqua enimad minim incididunt magna aliqua. Ut enim ad minim..</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				
				<hr>

				<section class="pricing_sec bg_light_gray">
					<div class="container">
						<div class="content_title">Price Table</div>
						<div class="row">
							<div class="col-md-4">
								<div class="price-table-outer">
									<div class="price-table-inner text-center">
										<h6 class="price-table-heading">Basic startup</h6>
										<h1>$40</h1>
										<h6 class="price-time">per month</h6>
										<div class="price-img">
											<img class="icon-color" src="images/price-icon.png" alt="price">
											<img class="icon-white" src="images/icon-img/w1.png" alt="price">
										</div>
										<p>Includes everthing which necessary fora small size of startup company.</p>
										<div class="button_group">
		                                    <a href="#" class="button black_button effect_5" data-text="Register"><span>Sign Up</span></a>
		                                </div>					
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="price-table-outer">
									<div class="price-table-inner text-center">
										<h6 class="price-table-heading">Basic startup</h6>
										<h1>$40</h1>
										<h6 class="price-time">per month</h6>
										<div class="price-img">
											<img class="icon-color" src="images/price-icon.png" alt="price">
											<img class="icon-white" src="images/icon-img/w1.png" alt="price">
										</div>
										<p>Includes everthing which necessary fora small size of startup company.</p>
										<div class="button_group">
		                                    <a href="#" class="button black_button effect_5" data-text="Register"><span>Sign Up</span></a>
		                                </div>								
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="price-table-outer">
									<div class="price-table-inner text-center">
										<h6 class="price-table-heading">Basic startup</h6>
										<h1>$40</h1>
										<h6 class="price-time">per month</h6>
										<div class="price-img">
											<img class="icon-color" src="images/price-icon.png" alt="price">
											<img class="icon-white" src="images/icon-img/w1.png" alt="price">
										</div>
										<p>Includes everthing which necessary fora small size of startup company.</p>
										<div class="button_group">
		                                    <a href="#" class="button black_button effect_5" data-text="Register"><span>Sign Up</span></a>
		                                </div>								
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			
			</div>

			<div class="page_title"><span>Elements</span></div>
			<footer class="footer">
				<div class="footer_inner">
					<div class="copyright">
						<p> &copy;Oculus 2020. All rights reserved</p>
					</div>
					<div class="social-icon">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</footer>
		</div>
		
        <!-- All JavaScript Files
        ================================================== -->
		<script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/bootstrap.js"></script>
		<script src="js/isotope.pkgd.min.js"></script>
        <script src="js/imagesloaded.pkgd.min.js"></script>
        <script src="js/jquery.fancybox.min.js"></script>
        <script src="js/swiper.min.js"></script>
        <script src="js/typed.min.js"></script>
        <script src="js/menu.js"></script>
        <script src="js/custom.js"></script>
	</body>
</html>