{% extends 'home/base.html' %}
{% load static %}

<!-- Block title -->
{% block title %}
<title>Razvan Videograf Constanta</title>
{% endblock %}

<!-- Block content -->
{% block content %}

	<div class="inner_body">
		<div class="slide_1">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="slider_item" style="background-image:url('static/home/images/slider/razvan-video-videograf-nunta-starea-civila-cununie-religioasa.jpg'); background-position: center top;">
							<div class="slider-inner">
								<div class="slider-details">
									<h4 class="slider-tag">Videograf Constanta</h4>
									<h1 class="slide_heading"><span>Razvan Video</span></h1>
									<div class="button_group">
										<a href="{% url 'toate-videoclipurile-constanta' %}" class="button effect_1 fade_black_button"><span>Vezi toate videoclipurile</span></a>
									</div>
								</div>
								<a class="popup fancyswiper" href="{% static 'home/images/slider/razvan-video-videograf-nunta-starea-civila-cununie-religioasa.jpg' %}" data-fancybox="images">
									<img src="{% static 'home/images/icon-img/g-icon2.png' %}" alt="icon">
								</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="slider_item" style="background-image:url('static/home/images/slider/razvan-video-Constanta-filmari-nunta-botez.jpg')">
							<div class="slider-inner">
								<div class="slider-details">
									<h4 class="slider-tag">Evenimente</h4>
									<h1 class="slide_heading"><span>Nunta</span></h1>
									<div class="button_group">
										<a href="{% url 'toate-videoclipurile-constanta' %}" class="button effect_2 fade_black_button"><span>Portofoliu Nunta</span></a>
									</div>
								</div>
								<a class="popup fancyswiper" href="{% static 'home/images/slider/razvan-video-Constanta-filmari-nunta-botez.jpg' %}" data-fancybox="images">
									<img src="{% static 'home/images/icon-img/g-icon2.png' %}" alt="icon">
								</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="slider_item" style="background-image:url('static/home/images/slider/razvan-video-constanta-video-botez-evenimente-bebelusi-video-la-biserica.jpg')">
							<div class="slider-inner">
								<div class="slider-details">
									<h4 class="slider-tag">Momente unice</h4>
									<h1 class="slide_heading"><span>Botez</span></h1>
									<div class="button_group">
										<a href="{% url 'toate-videoclipurile-constanta' %}" class="button effect_1 fade_black_button"><span>Portofoliu Botez</span></a>
									</div>
								</div>
								<a class="popup fancyswiper" href="{% static 'home/images/slider/razvan-video-constanta-video-botez-evenimente-bebelusi-video-la-biserica.jpg' %}" data-fancybox="images">
									<img src="{% static 'home/images/icon-img/g-icon2.png' %}" alt="icon">
								</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="slider_item" style="background-image:url('static/home/images/slider/video-evenimente-zile-de-nastere-clipuri-mot.jpg')">
							<div class="slider-inner">
								<div class="slider-details">
									<h4 class="slider-tag">Si alte evenimente</h4>
									<h1 class="slide_heading"><span>Motul</span></h1>
									<div class="button_group">
										<a href="{% url 'toate-videoclipurile-constanta' %}" class="button effect_3 fade_black_button"><span>Alte evenimente</span></a>
									</div>
								</div>
								<a class="popup fancyswiper" href="{% static 'home/images/slider/video-evenimente-zile-de-nastere-clipuri-mot.jpg' %}" data-fancybox="images">
									<img src="{% static 'home/images/icon-img/g-icon2.png' %}" alt="icon">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-controller">
				<!-- Add Pagination -->
				<div class="swiper-pagination"></div>

				<!-- If we need navigation buttons -->
				<div class="swiper-navigation">
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="page_title"><span>Serviciile mele</span></div>
	
{% endblock %}