{% extends 'home/base.html' %}
{% load static %}

<!-- Block title -->
{% block title %}
<title>Si alte evenimente Constanta</title>
{% endblock %}

<!-- Block content -->
{% block content %}
			
	<div class="inner_body">
		<!-- Page Header -->
		<div class="page-header type1">
			<div class="page-header-content text-center">
				<div class="container">
					<h1 class="heading">
						Portfolio
						<span class="icon"><i class="fa fa-camera"></i></span>
					</h1>
					<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed bibendum leo. Mauris <br> massa eleifend et purus vel feugiat rutrum nulla cras vitae est.</p>
				</div>
			</div>
		</div>
	
		<div class="about_image_grid">
			<div class="about_content_box">
				<div class="about_content">
					<div class="about_content_inner">
						<h6>Information</h6>
						<h1>Expert Photographers</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed bibe ndum leo maur massa eleifend et purus vel feugiat rutrum nulla ras vitae est velpsbus fermentum a ultricies urna cum sociis ut valley et. Lorem ipsum dolor sit amet, consectetur adipiscing eli Ut sed biben dum leo maur massa eleifend .</p>
						<div class="button_group">
							<a href="http://wpthemebooster.com/demo/themeforest/html/oculus/portfolio-single-1.html" class="button black_button effect_1" data-text="Read More"><span>See Details</span></a>
						</div>
					</div>
				</div>
				<div class="aboutus_img"></div>
			</div>

			<div class="about_content_box alt">
				<div class="aboutus_img"></div>
				<div class="about_content">
					<div class="about_content_inner">
						<h6>Information</h6>
						<h1>Wildlife Photography</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed bibe ndum leo maur massa eleifend et purus vel feugiat rutrum nulla ras vitae est velpsbus fermentum a ultricies urna cum sociis ut valley et. Lorem ipsum dolor sit amet, consectetur adipiscing eli Ut sed biben dum leo maur massa eleifend .</p>
						<div class="button_group">
							<a href="http://wpthemebooster.com/demo/themeforest/html/oculus/portfolio-single-2.html" class="button black_button effect_1" data-text="Read More"><span>See Details</span></a>
						</div>
					</div>
				</div>
			</div>

			<div class="about_content_box">
				<div class="about_content">
					<div class="about_content_inner">
						<h6>Information</h6>
						<h1>Natural Photography</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed bibe ndum leo maur massa eleifend et purus vel feugiat rutrum nulla ras vitae est velpsbus fermentum a ultricies urna cum sociis ut valley et. Lorem ipsum dolor sit amet, consectetur adipiscing eli Ut sed biben dum leo maur massa eleifend .</p>
						<div class="button_group">
							<a href="http://wpthemebooster.com/demo/themeforest/html/oculus/portfolio-single-2.html" class="button black_button effect_1" data-text="Read More"><span>See Details</span></a>
						</div>
					</div>
				</div>
				<div class="aboutus_img"></div>
			</div>
		</div>
		
	</div>

	<div class="page_title"><span>Si alte evenimente Constanta</span></div>

{% endblock %}