{% extends 'home/base.html' %}
{% load static %}

<!-- Block title -->
{% block title %}
<title>Toate videoclipurile - videograf Constanta</title>
{% endblock %}

<!-- Block content -->
{% block content %}
			
	<div class="inner_body bg_gray">
		<!-- Page Header -->
		<div class="page-header type2">
			<div class="page-header-content text-center">
				<div class="container">
					<h1 class="heading">
						Toate videoclipurile - Videograf Constanta
						<span class="icon"><i class="fa fa-camera"></i></span>
					</h1>
					<p>Toate clipurile din portofoliu.</p>
					<div class="sign"><img src="{% static 'home/images/sign.png' %}" alt=""></div>
				</div>
			</div>
		</div>

		<section class="portfolio-grid pt-0 pb-0">
			<div class="button-group filters-button-group">
				<button class="button is-checked" data-filter="*">Toate videoclipurile <sup class="filter-count"></sup></button>
				<button class="button" data-filter=".nunta">Nunta <sup class="filter-count"></sup></button>
				<button class="button" data-filter=".botez">Botez <sup class="filter-count"></sup></button>
				<button class="button" data-filter=".alte_evenimente">Alte evenimente <sup class="filter-count"></sup></button>
			</div>
			<div class="grid grid-3 gutter-5 clearfix">	
				<div class="grid-sizer"></div>		

				<div class="grid-item nunta"> 
					<div class="thumb">
						<img src="{% static 'home/images/portofoliu-nunta/imagine-nunta-Ozgean-si-Maria.png' %}" alt="Video Nunta Ozgean si Maria" class="thumbnail" />
						<div class="overlay" onclick="window.open('https://www.youtube.com/watch?v=OEZJmUJeMuI', '_blank');">
							<div class="play-button-wrapper">
								<i class="fas fa-play play-button"></i>
							</div>
						</div>
						<div class="works-info">
							<div class="label-text">
								<h4>Ozgean si Maria</h4>
								<h6>Video Nunta</h6>
							</div>
						</div>
					</div>
				</div>

				<div class="grid-item nunta"> 
					<div class="thumb">
						<img src="{% static 'home/images/portofoliu-nunta/video-cununie-civila-Alin-si-Gabriela.png' %}" alt="Video Cununie Civila Alin si Gabriela" class="thumbnail" />
						<div class="overlay" onclick="window.open('https://www.youtube.com/watch?v=tMyDhNJQ0C0', '_blank');">
							<div class="play-button-wrapper">
								<i class="fas fa-play play-button"></i>
							</div>
						</div>
						<div class="works-info">
							<div class="label-text">
								<h4>Alin & Gabriela</h4>
								<h6>Video Cununie Civila</h6>
							</div>
						</div>
					</div>
				</div>

				<div class="grid-item nunta"> 
					<div class="thumb">
						<img src="{% static 'home/images/portofoliu-nunta/video-nunta-Ionut-si-Cristina-pe-malul-Dunarii.png' %}" alt="Video Nunta Ionut si Cristina pe malul Dunarii" class="thumbnail" />
						<div class="overlay" onclick="window.open('https://www.youtube.com/watch?v=EyzY7Wzsru0', '_blank');">
							<div class="play-button-wrapper">
								<i class="fas fa-play play-button"></i>
							</div>
						</div>
						<div class="works-info">
							<div class="label-text">
								<h4>Ionut si Cristina</h4>
								<h6>Video Nunta pe malul Dunarii</h6>
							</div>
						</div>
					</div>
				</div>
				
				<div class="grid-item botez"> 
					<div class="thumb">
						<img src="{% static 'home/images/portofoliu-nunta/video-botez-Vladimir-Andrei.png' %}" alt="Video botez Vladimir Andrei" class="thumbnail" />
						<div class="overlay" onclick="window.open('https://www.youtube.com/watch?v=JaRtdL3ck6k', '_blank');">
							<div class="play-button-wrapper">
								<i class="fas fa-play play-button"></i>
							</div>
						</div>
						<div class="works-info">
							<div class="label-text">
								<h4>Andrei Vladimir</h4>
								<h6>Botez</h6>
							</div>
						</div>
					</div>
				</div>
				
				<div class="grid-item botez"> 
					<div class="thumb">
						<img src="{% static 'home/images/portofoliu-nunta/video-botez-Ecaterina-Elena.png' %}" alt="Video botez Ecaterina Elena" class="thumbnail" />
						<div class="overlay" onclick="window.open('https://www.youtube.com/watch?v=JKYzStrbUsc', '_blank');">
							<div class="play-button-wrapper">
								<i class="fas fa-play play-button"></i>
							</div>
						</div>
						<div class="works-info">
							<div class="label-text">
								<h4>Ecaterina Elena</h4>
								<h6>Botez</h6>
							</div>
						</div>
					</div>
				</div>
				
				<div class="grid-item botez"> 
					<div class="thumb">
						<img src="{% static 'home/images/portofoliu-nunta/videoclip-botez-Fabian-Andrei.png' %}" alt="Videoclip botez Fabian Andrei" class="thumbnail" />
						<div class="overlay" onclick="window.open('https://www.youtube.com/watch?v=7liAPKWU2YI', '_blank');">
							<div class="play-button-wrapper">
								<i class="fas fa-play play-button"></i>
							</div>
						</div>
						<div class="works-info">
							<div class="label-text">
								<h4>Fabian Andrei</h4>
								<h6>Botez</h6>
							</div>
						</div>
					</div>
				</div>		
				
				<div class="grid-item nunta"> 
					<div class="thumb">
						<img src="{% static 'home/images/portofoliu-nunta/videoclip-nunta-Georgiana-si-Ciprian.png' %}" alt="Nunta Georgiana si Ciprian" class="thumbnail" />
						<div class="overlay" onclick="window.open('https://www.youtube.com/watch?v=NjI95M8Umn0', '_blank');">
							<div class="play-button-wrapper">
								<i class="fas fa-play play-button"></i>
							</div>
						</div>
						<div class="works-info">
							<div class="label-text">
								<h4>Georgiana si Ciprian</h4>
								<h6>Video Nunta</h6>
							</div>
						</div>
					</div>
				</div>			
						
				<div class="grid-item botez"> 
					<div class="thumb">
						<img src="{% static 'home/images/portofoliu-nunta/videoclip-botez-Evelina-Mihaela.png' %}" alt="Videoclip botez Evelina Mihaela" class="thumbnail" />
						<div class="overlay" onclick="window.open('https://www.youtube.com/watch?v=9QgT6JFYbnU', '_blank');">
							<div class="play-button-wrapper">
								<i class="fas fa-play play-button"></i>
							</div>
						</div>
						<div class="works-info">
							<div class="label-text">
								<h4>Evelina Mihaela</h4>
								<h6>Video Botez</h6>
							</div>
						</div>
					</div>
				</div>	

				<div class="grid-item nunta"> 
					<div class="thumb">
						<img src="{% static 'home/images/portofoliu-nunta/Video-Cununie-Religioasa-Andrei-si-Natalia.png' %}" alt="Video Cuninie Religioasa Andrei si Natalia" class="thumbnail" />
						<div class="overlay" onclick="window.open('https://www.youtube.com/watch?v=ozDwb57W8eA', '_blank');">
							<div class="play-button-wrapper">
								<i class="fas fa-play play-button"></i>
							</div>
						</div>
						<div class="works-info">
							<div class="label-text">
								<h4>Natalia si Andrei</h4>
								<h6>Video Cununie Religioasa</h6>
							</div>
						</div>
					</div>
				</div>			

				<div class="grid-item nunta"> 
					<div class="thumb">
						<img src="{% static 'home/images/portofoliu-nunta/Clip-nunta-Alev-si-Mihai.png' %}" alt="Clip Nunta Alev si Mihai" class="thumbnail" />
						<div class="overlay" onclick="window.open('https://www.youtube.com/watch?v=_7WPjHM6z2o', '_blank');">
							<div class="play-button-wrapper">
								<i class="fas fa-play play-button"></i>
							</div>
						</div>
						<div class="works-info">
							<div class="label-text">
								<h4>Alev si Mihai</h4>
								<h6>Video Nunta Alev si Mihai</h6>
							</div>
						</div>
					</div>
				</div>		
				
				<div class="grid-item botez"> 
					<div class="thumb">
						<img src="{% static 'home/images/portofoliu-nunta/Video-botez-Alessia-Natalia.png' %}" alt="Video botez Alessia Natalia" class="thumbnail" />
						<div class="overlay" onclick="window.open('https://www.youtube.com/watch?v=W3vl7cofPnk', '_blank');">
							<div class="play-button-wrapper">
								<i class="fas fa-play play-button"></i>
							</div>
						</div>
						<div class="works-info">
							<div class="label-text">
								<h4>Alessia Natalia</h4>
								<h6>Video Botez</h6>
							</div>
						</div>
					</div>
				</div>	

				<div class="grid-item nunta"> 
					<div class="thumb">
						<img src="{% static 'home/images/portofoliu-nunta/video-nunta-Alexandru-Raluca.png' %}" alt="Video nunta Alexandru si Ralua" class="thumbnail" />
						<div class="overlay" onclick="window.open('https://www.youtube.com/watch?v=Vi4wgLG6iao', '_blank');">
							<div class="play-button-wrapper">
								<i class="fas fa-play play-button"></i>
							</div>
						</div>
						<div class="works-info">
							<div class="label-text">
								<h4>Alexandru si Raluca</h4>
								<h6>Video Nunta Raluca si Alexandru</h6>
							</div>
						</div>
					</div>
				</div>		
				
				<!--
				<div class="grid-item photography"> 
					<div class="thumb">
						<img class="item_image" src="{% static 'home/images/portfolio/masonry/13.jpg' %}" alt=""/>
						<div class="works-info">
							<div class="label-text">++
								<h4>Green trees on the way</h4>
								<h6>Nature & Life</h6>
							</div>
						</div>
					</div>
				</div>						
				<div class="grid-item photography"> 
					<div class="thumb">
						<img class="item_image" src="{% static 'home/images/portfolio/masonry/14.jpg' %}" alt=""/>
						<div class="works-info">
							<div class="label-text">
								<h4>Waiting and observing</h4>
								<h6>Nature & Life</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="grid-item photography"> 
					<div class="thumb">
						<img class="item_image" src="{% static 'home/images/portfolio/masonry/8.jpg' %}" alt=""/>
						<div class="works-info">
							<div class="label-text">
								<h4>Beauty of nature in life</h4>
								<h6>Nature & Life</h6>
							</div>
						</div>
					</div>
				</div>	
				-->
			</div>
		</section>
	</div>

	<div class="page_title"><span>Toate videoclipurile - videograf Constanta</span></div>
	
{% endblock %}