{% extends 'home/base.html' %}
{% load static %}

<!-- Block title -->
{% block title %}
<title>Toate videoclipurile - videograf Constanta</title>
{% endblock %}

<!-- Block content -->
{% block content %}
			
	<div class="inner_body bg_gray">
		<!-- Page Header -->
		<div class="page-header type2">
			<div class="page-header-content text-center">
				<div class="container">
					<h1 class="heading">
						Toate videoclipurile - Videograf Constanta
						<span class="icon"><i class="fa fa-camera"></i></span>
					</h1>
					<p>Toate clipurile din portofoliu.</p>
					<div class="sign"><img src="{% static 'home/images/sign.png' %}" alt=""></div>
				</div>
			</div>
		</div>

		<section class="portfolio-grid pt-0 pb-0">
			<div class="button-group filters-button-group">
				<button class="button is-checked" data-filter="*">All works <sup class="filter-count"></sup></button>
				<button class="button" data-filter=".webdesign">Web Design <sup class="filter-count"></sup></button>
				<button class="button" data-filter=".illustrator">Illustrator <sup class="filter-count"></sup></button>
				<button class="button" data-filter=".branding">Branding <sup class="filter-count"></sup></button>
				<button class="button" data-filter=".photography">Photography <sup class="filter-count"></sup></button>
			</div>
			<div class="grid grid-3 gutter-5 clearfix">	
				<div class="grid-sizer"></div>							
				<div class="grid-item webdesign">
					<div class="thumb">
						<img class="item_image" src="{% static 'home/images/portfolio/masonry/1.jpg' %}" alt=""/>
						<div class="works-info">
							<div class="label-text">
								<h4>Wild Animal Life</h4>
								<h6>Nature & Life</h6>
							</div>
						</div>
					</div>
				</div>							
				<div class="grid-item branding"> 
					<div class="thumb">
						<img class="item_image" src="{% static 'home/images/portfolio/masonry/2.jpg' %}" alt=""/>
						<div class="works-info">
							<div class="label-text">
								<h4>Beauty of nature in life</h4>
								<h6>Nature & Life</h6>
							</div>
						</div>
					</div>
				</div>						
				<div class="grid-item branding"> 
					<div class="thumb">
						<img class="item_image" src="{% static 'home/images/portfolio/masonry/3.jpg' %}" alt=""/>
						<div class="works-info">
							<div class="label-text">
								<h4>Forest Life</h4>
								<h6>Nature & Life</h6>
							</div>
						</div>
					</div>
				</div>						
				<div class="grid-item photography"> 
					<div class="thumb">
						<img class="item_image" src="{% static 'home/images/portfolio/masonry/4.jpg' %}" alt=""/>
						<div class="works-info">
							<div class="label-text">
								<h4>Sky and Hills</h4>
								<h6>Nature & Life</h6>
							</div>
						</div>
					</div>
				</div>						
				<div class="grid-item photography"> 
					<div class="thumb">
						<img class="item_image" src="{% static 'home/images/portfolio/masonry/5.jpg' %}" alt=""/>
						<div class="works-info">
							<div class="label-text">
								<h4>Blue water in Ocean</h4>
								<h6>Nature & Life</h6>
							</div>
						</div>
					</div>
				</div>						
				<div class="grid-item photography">
					<div class="thumb">
						<img class="item_image" src="{% static 'home/images/portfolio/masonry/6.jpg' %}" alt=""/>
						<div class="works-info">
							<div class="label-text">
								<h4>Enjoy loneliness</h4>
								<h6>Nature & Life</h6>
							</div>
						</div>
					</div>
				</div>						
				<div class="grid-item illustrator"> 
					<div class="thumb">
						<img class="item_image" src="{% static 'home/images/portfolio/masonry/7.jpg' %}" alt=""/>
						<div class="works-info">
							<div class="label-text">
								<h4>Travelling in nature</h4>
								<h6>Nature & Life</h6>
							</div>
						</div>
					</div>
				</div>						
				<div class="grid-item illustrator"> 
					<div class="thumb">
						<img class="item_image" src="{% static 'home/images/portfolio/masonry/8.jpg' %}" alt=""/>
						<div class="works-info">
							<div class="label-text">
								<h4>Beauty of nature in life</h4>
								<h6>Nature & Life</h6>
							</div>
						</div>
					</div>
				</div>						
				<div class="grid-item illustrator"> 
					<div class="thumb">
						<img class="item_image" src="{% static 'home/images/portfolio/masonry/11.jpg' %}" alt=""/>
						<div class="works-info">
							<div class="label-text">
								<h4>Cute deer running</h4>
								<h6>Nature & Life</h6>
							</div>
						</div>
					</div>
				</div>						
				<div class="grid-item webdesign"> 
					<div class="thumb">
						<img class="item_image" src="{% static 'home/images/portfolio/masonry/10.jpg' %}" alt=""/>
						<div class="works-info">
							<div class="label-text">
								<h4>Beauty of nature in life</h4>
								<h6>Nature & Life</h6>
							</div>
						</div>
					</div>
				</div>										
				<div class="grid-item webdesign"> 
					<div class="thumb">
						<img class="item_image" src="{% static 'home/images/portfolio/masonry/9.jpg' %}" alt=""/>
						<div class="works-info">
							<div class="label-text">
								<h4>Beauty of black deer</h4>
								<h6>Nature & Life</h6>
							</div>
						</div>
					</div>
				</div>						
				<div class="grid-item illustrator"> 
					<div class="thumb">
						<img class="item_image" src="{% static 'home/images/portfolio/masonry/12.jpg' %}" alt=""/>
						<div class="works-info">
							<div class="label-text">
								<h4>Beauty of nature in life</h4>
								<h6>Nature & Life</h6>
							</div>
						</div>
					</div>
				</div>						
				<div class="grid-item photography"> 
					<div class="thumb">
						<img class="item_image" src="{% static 'home/images/portfolio/masonry/13.jpg' %}" alt=""/>
						<div class="works-info">
							<div class="label-text">
								<h4>Green trees on the way</h4>
								<h6>Nature & Life</h6>
							</div>
						</div>
					</div>
				</div>						
				<div class="grid-item photography"> 
					<div class="thumb">
						<img class="item_image" src="{% static 'home/images/portfolio/masonry/14.jpg' %}" alt=""/>
						<div class="works-info">
							<div class="label-text">
								<h4>Waiting and observing</h4>
								<h6>Nature & Life</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="grid-item photography"> 
					<div class="thumb">
						<img class="item_image" src="{% static 'home/images/portfolio/masonry/8.jpg' %}" alt=""/>
						<div class="works-info">
							<div class="label-text">
								<h4>Beauty of nature in life</h4>
								<h6>Nature & Life</h6>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</section>
	</div>

	<div class="page_title"><span>Toate videoclipurile - videograf Constanta</span></div>
	
{% endblock %}